.heading {
    margin: 5rem auto;
}

.heading .container .row .one-fourth.column {
    border-bottom: solid pink 0.2rem;
    border-top: solid black 0.2rem;
    font-size: large;
}

.scroll {
    text-align: center;
    padding: 1rem;
    margin-top: 120%;
    border-top: solid black 0.2rem;
}

#btn {
    margin-top: 150%;
}

#text-2 {
    margin: 50% auto;
    text-align: center;
}

/* Animations */
.slideUp {
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    visibility: visible;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@-webkit-keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}